.table img {
  max-width: 100%; /* Assurez-vous que les images ne dépassent pas la largeur de leur conteneur */
  height: auto; /* Permet aux images de conserver leur rapport hauteur/largeur */
  display: block; /* Pour éviter les espaces vides sous les images inline */
  margin: 0 auto; /* Centrer les images horizontalement si nécessaire */
  /* Autres styles spécifiques aux images à l'intérieur de .table */
}
button.monBouton {
  background-color: #8a8aff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
width: 100px;
height: 60px;
}
button.monBouton:hover {
  background-color:#646cff;
}
.tout {
  align-items: flex-start;
  display: flex;
}
@media screen and (max-width:1140px) {
.tout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
}
@media screen and (max-width:250px) {
  .tout {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
   .del {
    width: 100vw;
    display: flex;
    flex-direction: column
   }
}
.filtre {
  max-width: 100vw;
}
  td{
    border: 2px solid black;
  }
  .acheté {
    display: flex;
    justify-content: center;
  }
  .carprix {
    display: flex;
    flex-direction: column;
  }
  .ach {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
  }
  .plusmoinsajout {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .del {
    display: flex;
    justify-content: center;
  }
  .prixtot {
    background-color: red;
  }
  .adroite {
    display: flex;
    justify-content: flex-end
    }
    .nbrprod {
      display: flex;
    }
    .gros {
      display: flex;
    }
    .marque {
      display: flex;
    }
    .xiaomi {
      display: flex;
    }
    /* Styles pour personnaliser l'apparence du select */
.select {
  appearance: none; /* Supprime l'apparence native de l'élément */
  padding: 10px 20px; /* Ajoute du rembourrage pour un aspect agréable */
  font-size: 16px; /* Taille de police */
  border: 2px solid #ccc; /* Bordure */
  border-radius: 4px; /* Coins arrondis */
  background-color: #fff; /* Couleur de fond */
  cursor: pointer; /* Curseur de la souris au survol */
}

/* Style pour la flèche (qui apparaît sur le côté droit) */
.select:after {
  content: "\f107"; /* Utilisation d'une icône Unicode (flèche vers le bas) */
  font-family: FontAwesome; /* Utilisation de la police FontAwesome pour les icônes */
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Empêche la flèche de réagir aux événements de la souris */
}
/* Style pour le survol des options */
.select:hover {
  background-color: #646cff; /* Couleur de fond au survol */
}
.centerselect {
  display: flex;
  justify-content: center;
  gap: 30px;
}

  