.home {
    display: flex;
    height: 80vh;
    justify-content: flex-end;
    gap: 40px;
}
.logopage img  {
    max-width: 100%; /* Make the images responsive */
    height: auto; /* Maintain aspect ratio */
  }
.but {
    display: flex;
    align-items: center;
    width: 500px;
}