.inscr {
    display: flex;
    flex-direction: column;
    align-items: center
}
button.monBouton {
    background-color: #8a8aff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  width: 100px;
  height: 50px;
  }
  button.monBouton:hover {
    background-color: #646cff;
  }